<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ray.stormragemq.dao.ExchangerDao">
    <resultMap id="BaseResultMap" type="ExchangerEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="createuserid" property="createUserId" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertExchanger" parameterType="ExchangerEntity">
        INSERT INTO exchanger (type, name, content, createuserid) VALUES
            (#{type}, #{name}, #{content}, #{createUserId})
    </insert>

    <select id="countExchangerByName" parameterType="ExchangerEntity" resultType="java.lang.Integer">
        SELECT count(*) FROM exchanger WHERE name = #{name}
        <if test="id != null">AND id != #{id}</if>
    </select>

    <select id="getExchangerList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM exchanger WHERE createuserid = #{userId}
    </select>

    <select id="getAllExchanger" resultMap="BaseResultMap">
        SELECT * FROM exchanger
    </select>

    <delete id="deleteExchangerById" parameterType="ExchangerEntity">
        DELETE FROM exchanger WHERE id = #{id}
    </delete>

    <select id="getExchanger" parameterType="ExchangerEntity" resultMap="BaseResultMap">
        SELECT * FROM exchanger
        <where>
            <if test="id != null and id != ''">id = #{id}</if>
            <if test="name != null and name != ''">name = #{name}</if>
        </where>
    </select>

    <update id="updateExchanger" parameterType="ExchangerEntity">
        UPDATE exchanger
        <set>
            <if test="type != null">type = #{type},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="content != null and content != ''">content = #{content},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>