<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ray.stormragemq.dao.UserAccountDao">

    <resultMap id="BaseResultMap" type="UserAccountEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="headimage" property="headImage" jdbcType="VARCHAR"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="logintoken" property="loginToken" jdbcType="VARCHAR"/>
        <result column="isdeleted" property="isDeleted" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getUserByToken" parameterType="UserAccountEntity" resultMap="BaseResultMap">
        SELECT * FROM UserAccount WHERE id = #{id} AND logintoken = #{loginToken}
    </select>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM useraccount WHERE id = #{id}
    </select>

    <select id="getUserByUserName" parameterType="UserAccountEntity" resultMap="BaseResultMap">
        SELECT * FROM UserAccount WHERE username=#{userName}
        <if test="id != null">
            AND id = #{id}
        </if>
    </select>

    <insert id="insertUser" parameterType="UserAccountEntity">
        INSERT INTO UserAccount (username, password, headimage, logintoken) VALUES
        (#{userName}, #{password}, #{headImage}, #{loginToken})
    </insert>

    <update id="updateUser" parameterType="UserAccountEntity">
        UPDATE UserAccount
        <set>
            <if test="loginToken != null and loginToken != ''">
                logintoken = #{loginToken},
            </if>

            <if test="userName != null and userName != ''">
                username = #{userName},
            </if>

            <if test="password != null and password != ''">
                password = #{password}
            </if>
        </set>
        WHERE id = #{id}
    </update>


</mapper>